@import "tailwindcss";

@theme {
    /* Exemple : ajouter une couleur personnalisée */
    --color-primary: #32C48D;
    --color-secondary: #6EB5FF;
    --color-dusk: oklch(52% 0.1 245);
    /* Exemple : police personnalisée */
    --font-display: "Satoshi", "sans-serif";
  }