@import "tailwindcss";

@theme {
    /* Exemple : ajouter une couleur personnalisée */
    /* --color-primary: #32C48D;
    --color-secondary: #6EB5FF;
    --color-dusk: oklch(52% 0.1 245); */

    --color-background: #ffffff;
    --color-foreground: #010816;

    --color-card: #ffffff;
    --color-card-foreground: #010816;

    --color-popover: #ffffff;
    --color-popover-foreground: #010816;

    --color-primary: #32C48D;
    --color-primary-foreground: #f7f9fb;

    --color-secondary: #f1f5f9;
    --color-secondary-foreground: #0f172a;

    --color-muted: #f1f5f9;
    --color-muted-foreground: #64748b;

    --color-accent: #f1f5f9;
    --color-accent-foreground: #0f172a;

    --color-destructive: #ee4444;
    --color-destructive-foreground: #f7f9fb;

    --color-border: #e2e8f0;
    --color-input: #e2e8f0;
    --color-ring: #010816;

    --color-sidebar-background: #f9f9f9;
    --color-sidebar-foreground: #3f3f46;
    --color-sidebar-primary: #17171b;
    --color-sidebar-primary-foreground: #f9f9f9;
    --color-sidebar-accent: #f4f4f5;
    --color-sidebar-accent-foreground: #17171b;
    --color-sidebar-border: #e5e7eb;
    --color-sidebar-ring: #3b82f5;
    /* Exemple : police personnalisée */
    --font-display: "Satoshi", "sans-serif";
  }